body{
    margin: 0px;
}

a {
    color: white;
}

a:visited {
    color: white;
}

a:hover{
    color: white;
}

header {
    background-color: #171717;
    margin: 0px;
}

.menu {
    line-height: 250%;
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
}

.menu li {
    position: relative; /*cambio*/
    padding-inline: 20px;
}

.menu a {
    text-decoration: none;
}

.menu li:hover .sub_menu {
    display: block;
}

.sub_menu {
    background-color: #363535;
    display: none;
    list-style: none;
    position: absolute;
    padding: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0px;
    margin-top: 0px;
    left: 0px;
}